header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: auto;
    width: fit-content;
}

header nav ul li {
    margin-top: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

h1, h2 {
    font-variant: small-caps;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

ul {
    list-style-type: none;
}

ul li + li,
form > div + div {
    margin-top: 1em;
}

#tela-inicial ul {
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 0;
}

form{
    margin: auto;
    width: fit-content;

}

form > div {
    text-align: right;
    margin: 1em auto auto auto;
}

#issqn form > div:last-of-type {
    text-align: center;
    margin: 1em auto auto auto;
}

form + div.button-container,
p#resultado {
    margin: 1em auto auto auto;
    width: fit-content;
}

form > div > label {
    padding: 0 0.5em 0 0;
}

[id^=lista-issqn] {
    margin: 1.5em auto auto auto;
    padding: 0;
    width: fit-content;
}

[id^=lista-issqn] tr td:first-of-type {
    text-align: right;
}

[id^=lista-issqn] tr td:first-of-type::after {
    content: ": R$ ";
}

[id^=lista-issqn] tr td + td {
    padding-left: 0.25em;
}

[id^=lista-issqn] tr td:last-of-type {
    font-variant-numeric: tabular-nums;
    text-align: right;
}

abbr[title] {     
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

/* CFOP */

#cfop table {
    margin: auto;
}

#cfop thead tr th {
    text-align: left;
}

#cfop tr td:first-of-type,
#cfop tr th:first-of-type {
    padding-left: 0;
    padding-right: 0.5em;
}

#cfop tr td,
#cfop tr th {
    padding-left: 0.5em;
}

/* Cálculo notas */

#notas p#resultado-calculo-simples {
    font-size: 1.5em;
    text-align: center;
}

#notas main {
    display: flex;
}

#notas div#form-div,
#notas div#table-div {
    max-width: 48%;
}

#notas div#form-div {
    padding-left: 1.5em;
}

#notas div#table-div {
    padding: 1.5em;
}

#notas button {
    padding: 0.2em 0.3em 0.2em 0.3em;
}

#notas table {
    margin: auto;
    padding-left: 1.5em;
    border-collapse: collapse;
}

#notas thead tr th {
    border: solid rgb(204, 204, 204) 1px;
}

#notas tbody td:first-of-type {
    text-align: left;
    padding-right: 2em;
}

#notas tbody td {
    border: solid rgb(204, 204, 204) 1px;
    text-align: right;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

#notas tbody tr:first-of-type td {
    font-weight: bold;
}

#notas div#botao {
    text-align: center;
}